# created by virtualenv automatically
../venv_AKlogsort/bin
/Python Scripts/2021-10-11_History.csv
/Python Scripts/2021-10-11_History_counts.csv
/Python Scripts/2021-10-11_History_errors.csv
/Python Scripts/2021-10-11_History_new_counts.csv
/Python Scripts/trash.py
